.about-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: #626262;
}

.about-main h1 {
    font-family: 'lato-regular';
}

.cards-container {
    gap: 15px;
}

.person-card {
    border-radius: 0.5em;
    padding: 10px;
    font-family: lato-regular;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.person-card img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: fill;
}

.person-card>* {
    padding: 5px;
}