
@font-face {
    font-family: lato-regular;
    src: url('../../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: cookie-regular;
    src: url('../../fonts/Cookie-Regular.ttf');
}
@font-face {
    font-family: cavet-bold;
    src: url('../../fonts/cavet/Caveat-Bold.ttf');
}